body{
  width:1400px;
  margin: auto;
}
span {
  margin: 0 5px;
}

.row {
  margin: 1rem 0;
}
.input-group {
  margin-bottom: 1rem;
}
button {
  margin-left: 0.5rem;
}
.btnss {
  display: flex;
  justify-content: flex-end;
}
